.transaction-history {
  max-width: 700px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.thead-block {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgb(57, 184, 226);
}

.thead-title {
  padding: 15px 0;
}

.thead-title:first-child {
  border-top-left-radius: 5px;
}

.thead-title:last-child {
  border-top-right-radius: 5px;
}

.thead-title:not(:first-child, :last-child) {
  height: 100%;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.982);
  border-left: 1px solid rgba(255, 255, 255, 0.982);
}

.tb_row {
  background-color: rgb(254, 254, 254);
  color: black;
  font-weight: normal;
  transition: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.tb_row:nth-child(2n) {
  background-color: rgb(233, 232, 230);
  box-shadow: 0px 0px 1px 1px rgb(149, 145, 145) inset;
  -webkit-box-shadow: 0px 0px 1px 1px rgb(149, 145, 145) inset;
  -moz-box-shadow: 0px 0px 1px 1px rgb(149, 145, 145) inset;
}

.tb_row:is(:hover, :focus) {
  padding: auto;
  background-color: rgb(250, 88, 64);
  font-weight: 500;
  color: white;
}

.tb_row_unit {
  color: currentColor;
  width: 100px;
  padding: auto;

  padding-bottom: 10px;
  padding-top: 10px;

  text-align: center;
  text-transform: capitalize;
  border-right: 1px solid rgba(217, 216, 216, 0.982);
  border-left: 1px solid rgba(255, 255, 255, 0.982);
}
